<section class="highlight">
    <section class="module">
        <div class="container-welcome">
          <div class="module__content">
            <h2 class="highlight__title">Bem-vinda,</h2>
            <p class="highlight__description">
                &#60;Daniela&#62;<span>|</span>
            </p>
          </div>
        <div class="module__thumb">
          <p>
    
          </p>
        </div>
      </div>
    </section>
		<div class="container-galery">
			<div class="highlight__media">
				<div class="title">
            <h5>Fotos escolhidas por nosso time</h5>
           
            <h5 [routerLink]="['all']" class="all io botao transparente preto">Ver Todos <i class="fa fa-long-arrow-right" aria-hidden="true"></i></h5>
        </div>
        <app-photos-indicated></app-photos-indicated>
			</div>
		</div>
</section>

<section class="features">
		<div class="container-galery">
			<div class="features-inspired">
          <div class="ui horizontal divider">
            Inspire-se!
          </div>
			</div>
		</div>
</section>

<section>
  <div class="container-galery">
    <app-photos-inspired></app-photos-inspired>
  </div>
</section>




