<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3604C9">
  <img src="../../../../assets/images/toolbar/logo-trakto.svg" width="98" height="30" alt="Trakto logo">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="io botao fluido amarelo" href="#">Criar novo <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="io botao fluido transparente" href="#">Meus Documentos</a>
      </li>
      <li class="nav-item">
        <a class="io botao fluido transparente" href="#">Apps & Integrações</a>
      </li>
    </ul>
    <span class="navbar-text">
      <div class="perfil">
        <div class="notifications">
            <i class="material-icons">notifications</i>
        </div>
        <div class="image">
          <img src="../../../../assets/images/toolbar/perfil-image.svg" alt="Person">
        </div>
        <div class="name">
          <p>Daniela Oliveira</p>
        </div>
      </div>
    </span>
  </div>
</nav>