<section class="highlight">
    <div class="container-galery">
        <div class="highlight__media__all">
                <div class="title">
                    <button class="all io botao transparente preto" [routerLink]="['']"> 
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>Voltar</button>
                </div>
            <app-photos-curated [photos]="photos"></app-photos-curated>

            <app-load-button (click)="load()" [hasMore]="hasMore"></app-load-button>
        </div>
    </div>
</section>